[defaults]
# Path to a file that contains the Ansible Vault password (one-line file).
# Create this file on your host: ~/.vault_pass.txt and set permissions to 600.
vault_password_file = .vault_pass.txt

# Avoid changing other defaults; adjust as needed.
# Chuyển output sang định dạng YAML dễ đọc
stdout_callback = yaml
# Bật callback ngay cả khi chạy qua Vagrant
bin_ansible_callbacks = True